[Unit]
After=network-online.target
Description=PostgreSQL database server
Documentation=https://www.postgresql.org/docs
Wants=network-online.target

[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/postgresql/bin/postgres \
          -c data_directory=/var/lib/postgresql \
          -c config_file=/etc/postgresql/postgresql.conf \
          -c hba_file=/etc/postgresql/pg_hba.conf \
          -c ident_file=/etc/postgresql/pg_ident.conf
Group=postgres
KillMode=mixed
KillSignal=SIGINT
StandardOutput=append:/var/log/postgresql/postgresql.log
TimeoutSec=infinity
Type=simple
User=postgres

[Install]
WantedBy=multi-user.target
