name: {{ inventory_hostname }}
namespace: service
scope: {{ database_name }}

bootstrap:
  dcs:
    loop_wait: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      use_slots: true
      pg_hba:
      # - host replication replicator 0.0.0.0/0 scram-sha-256
      # - host all all 0.0.0.0/0 scram-sha-256
      - host {{ database_name }} {{ database_name }}_admin 0.0.0.0/0 scram-sha-256
      - host replication replication_role 0.0.0.0/0 scram-sha-256
      - local all postgres peer
      # - local all postgres trust
      # - host all postgres 127.0.0.1/32 scram-sha-256
      # parameters:
    retry_timeout: 10
    ttl: 30
  initdb:
  - data-checksums
  - encoding: UTF8

etcd3:
  host: {{ etcd_url }}

log:
  format: '%(asctime)s %(levelname)s: %(message)s'
  level: INFO
  max_queue_size: 1000
  traceback_level: ERROR

postgresql:
  use_unix_socket: true
  authentication:
    replication:
      username: replication_role
      password: replication_password
    superuser:
      username: postgres
      password: zalando
    rewind:
      username: rewind_role
      password: rewind_password
  listen: 0.0.0.0:5432
  connect_address: {{ inventory_hostname }}:5432
  data_dir: /var/lib/postgresql
  bin_dir: /usr/local/postgresql/bin
  pgpass: /tmp/pgpass0
  parameters:
    unix_socket_directories: /tmp
    password_encryption: scram-sha-256

restapi:
  connect_address: {{ inventory_hostname }}:8008
  listen: 0.0.0.0:8008

tags:
  clonefrom: false
  nofailover: false
  noloadbalance: false
  nosync: false

watchdog:
  device: /dev/watchdog
  mode: required
  safety_margin: 5
