---

name: {{ inventory_hostname }}
namespace: service
scope: {{ database_name }}

bootstrap:
  dcs:
    loop_wait: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      bin_dir: /usr/local/postgresql/bin
      parameters:
        archive_mode: on
        wal_level: logical
        wal_log_hints: on
        unix_socket_directories: /tmp
        password_encryption: scram-sha-256
        logging_collector: on
        log_directory: /var/log/postgresql/log-mount
        log_filename: postgresql.log
        log_file_mode: 0600
        log_rotation_age: 7d
        log_rotation_size: 100MB
        log_line_prefix: '%t [%p]: [%l] user=%u,db=%d,app=%a,client%h'
        log_checkpoints: on
        log_disconnections: on
        log_min_duration_statement: 100ms
        shared_preload_libraries: pg_stat_statements
        checkpoint_completion_target: {{ checkpoint_completion_target }}
        default_statistics_target: {{ default_statistics_target }}
        effective_cache_size: {{ effective_cache_size }}
        effective_io_concurrency: {{ effective_io_concurrency }}
        huge_pages: {{ huge_pages }}
        maintenance_work_mem: {{ maintenance_work_mem }}
        max_connections: {{ max_connections }}
        max_parallel_maintenance_workers: {{ max_parallel_maintenance_workers }}
        max_parallel_workers: {{ max_parallel_workers }}
        max_parallel_workers_per_gather: {{ max_parallel_workers_per_gather }}
        max_worker_processes: {{ max_worker_processes }}
        max_wal_size: {{ max_wal_size }}
        min_wal_size: {{ min_wal_size }}
        random_page_cost: {{ random_page_cost }}
        shared_buffers: {{ shared_buffers }}
        wal_buffers: {{ wal_buffers }}
        work_mem: {{ work_mem }}
        checkpoint_timeout: 300
        archive_timeout: 60
      pg_hba:
      - host {{ database_name }} {{ database_name }}_admin 0.0.0.0/0 scram-sha-256
      {% for host in groups['postgresql'] %}
      - host replication replication_role {{ hostvars[host]['ansible_default_ipv4']['address'] }}/32 scram-sha-256
      # - host all rewind_role {{ hostvars[host]['ansible_default_ipv4']['address'] }}/32 scram-sha-256
      {% endfor %}
      - local all postgres peer
      use_pg_rewind: true
      use_slots: true
      use_unix_socket: true
    retry_timeout: 10
    ttl: 30
  method: initdb_dedicated_wal
  initdb_dedicated_wal:
    command: initdb_dedicated_wal

etcd3:
  host: {{ etcd_url }}

log:
  dir: /var/log/patroni
  file_num: 4
  file_size: 10485760
  format: '%(asctime)s %(levelname)s: %(message)s'
  level: INFO
  max_queue_size: 1000
  traceback_level: ERROR
  type: plain

postgresql:
  authentication:
    replication:
      username: replication_role
      password: replication_password
    superuser:
      username: postgres
      password: zalando
    rewind:
      username: rewind_role
      password: rewind_password
  connect_address: {{ inventory_hostname }}:5432
  create_replica_methods:
    # - pgbackrest
    - basebackup
  # pgbackrest:
    # command: /usr/bin/pgbackrest --stanza=<scope> --delta restore
    # keep_data: True
    # no_params: True
  basebackup:
    - verbose
    - max-rate: '100M'
    - waldir: /var/lib/postgresql/wal-mount/wal
  data_dir: /var/lib/postgresql/data-mount/data
  listen: {{ inventory_hostname }}:5432
  pgpass: /home/postgres/.pgpass0

restapi:
  connect_address: {{ inventory_hostname }}:8008
  listen: 0.0.0.0:8008

tags:
  clonefrom: false
  nofailover: false
  noloadbalance: false
  nosync: false

watchdog:
  device: /dev/watchdog
  mode: required
  safety_margin: 5

...
